@layer components {
  .btn-base {
    @apply flex min-h-[44px] cursor-pointer items-center justify-center px-4 py-2 text-center font-raleway text-sm font-medium transition-all duration-300 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-icon {
    @apply w-[fit-content] cursor-pointer p-4;
    border-image: linear-gradient(to right, var(--color-gray), var(--color-accent-1)) 1;
    border-width: 1px;
    border-style: solid;
  }

  .btn-primary {
    @apply not-disabled:hover:bg-primary/10 active:scale-95 active:bg-primary/20;
    border-image: linear-gradient(to right, var(--color-gray), var(--color-primary)) 1;
    border-width: 1px;
    border-style: solid;
    color: var(--color-primary);
  }

  .btn-secondary {
    @apply not-disabled:hover:bg-deep-yellow/10 active:scale-95 active:bg-deep-yellow/20;
    border-image: linear-gradient(to right, var(--color-gray), var(--color-deep-yellow)) 1;
    border-width: 1px;
    border-style: solid;
    color: var(--color-deep-yellow);
  }

  .btn-tertiary {
    @apply not-disabled:hover:bg-tertiary/10 active:scale-95 active:bg-tertiary/20;
    border-image: linear-gradient(to right, var(--color-gray), var(--color-tertiary)) 1;
    border-width: 1px;
    border-style: solid;
    color: var(--color-tertiary);
  }

  .btn-inline {
    @apply relative inline-flex cursor-pointer items-center font-raleway text-primary;

    &::after {
      @apply absolute bottom-0 left-0 h-[1px] w-0 bg-primary transition-all duration-300 content-[""];
    }

    &:hover::after {
      @apply w-full;
    }
  }

  .btn-danger {
    @apply bg-red text-foreground hover:bg-red/60 disabled:hover:bg-red;
  }
}
