@import 'tailwindcss';

@theme {
  --color-*: initial;

  /* Colors */
  --color-blue-black: rgba(4, 7, 32, 1);
  --color-gray: rgba(64, 64, 64, 1);
  --color-onyx: rgba(53, 57, 53, 1);
  --color-bright-yellow: rgba(255, 255, 0, 1);
  --color-blue: rgba(0, 150, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(245, 245, 245, 1);
  --color-deep-yellow: rgba(255, 215, 0, 1);
  --color-green: rgba(0, 132, 80, 1);
  --color-red: rgba(255, 69, 0, 1);

  /* Fonts */
  --font-raleway: var(--font-raleway);
  --font-montserrat: var(--font-montserrat);
}

@theme inline {
  /* Semantic colors */
  --color-background: var(--color-blue-black);
  --color-foreground: var(--color-white);

  --color-track: var(--color-onyx);
  --color-checkered-black: var(--color-black);
  --color-checkered-white: var(--color-white);

  --color-primary: var(--color-green);
  --color-secondary: var(--color-deep-yellow);
  --color-tertiary: var(--color-red);
  --color-accent-1: var(--color-blue);
}

@layer utilities {
  .glowing-border-red {
    border-image: linear-gradient(to right, #ff0000, #ff0000) 1;
  }
}

* {
  /* border: 1px solid yellow; */
}
